---
layout: default
title: Archive
---

<div id="home">
  <h6>Archive ({{ site.posts | size }} posts)</h6>
  <ul class="posts">
  {% assign year = "" %}
    {% for post in site.posts %}
    {% unless post.tags contains "speaking" %}
        {% assign post_words = 0 %}
        {% assign lines = post.content|split:'pre>' %}
        {% for line in lines %}
            {% assign mod = forloop.index|modulo:2 %}
            {% assign line_words = line|strip_html|number_of_words|times:mod %}
            {% assign post_words = post_words|plus:line_words %}
        {% endfor %}
    {% assign current_year = post.date|date:"%Y" %}
    {% if current_year != year %}
    {% assign year = current_year %}
    <!--<li><h5>{{ year }}</h5></li>-->
    {% endif %}
    {% assign width = post_words | divided_by:20 %}
    {% assign width = width | plus:10 %}
      
      <li>
        <span class="date">{{ post.date | date_to_string }}</span>
        <span class="arrow">&raquo;</span>
        <a href="{{ post.url }}">{{ post.title }}</a>
        <a class="bar" href="#" title="{{ post_words }} words"
            style="width:{{ width | ceil  }}px;">&nbsp;</a>
      </li>
      {% endunless %}
    {% endfor %}
  </ul>

</div>